.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme);
  color: var(--white);
  height: 5rem;
  border-bottom: 1px solid var(--white);
}

.links {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-right: 0rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 10px;
  font-weight: 600;
}
.link:hover {
  background-color: var(--white);
  color: var(--theme);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.mobileLink {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mobileLink:hover {
  background-color: var(--theme);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

.profileButton {
  margin-right: 1rem;
  background-color: var(--theme);
  border-radius: 100%;
  border: none;
  outline: none;
  color: var(--white);
}

@media (max-width: 1000px) {
  .navbar h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .navbar p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .navbar h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .navbar p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }
}
