.container {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: flex-start;
  border-radius: 1rem;
  padding: 1rem;
}

.container p {
  margin-left: 1rem;
  font-size: 1.1rem;
  text-decoration: none;
}

.mail {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: ".9rem";
  margin-top: "-.8rem";
}

.mail:hover {
  text-decoration: 1px underline #fff;
}
