.container {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

.container p {
  margin-right: 1rem;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputSeq {
  display: flex;
  align-items: center;
  margin-right: -3rem;
}

.input {
  background-color: transparent;
  border-radius: 1rem;
  color: var(--white);
  font-size: "Poppins", "sans-serif";
  border: 1px solid var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 95%;
  height: 8rem;
  overflow-y: auto;
  font-size: 16px;
  resize: none;
}

.smallInput {
  background-color: transparent;
  border-radius: 5rem;
  color: var(--white);
  font-size: "Poppins", "sans-serif";
  border: 1px solid var(--white);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 25%;
}

.penalties {
  display: flex;
  align-items: center;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--white);
  border-radius: 4rem;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--white);
}

.btn:hover {
  background-color: var(--white);
  color: var(--theme);
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .container h1 {
    font-weight: normal;
    font-size: 1rem;
  }

  .container p {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .img {
    width: 100px;
    display: none;
  }

  .btn {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .input {
    width: 90%;
  }
}
