.container {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--white);
  border: 2px solid var(--theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  font-weight: bold;
  color: var(--theme);
  font-size: 1.5rem;
}

.container p {
  color: #fff;
  margin-right: 1rem;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputSeq {
  display: flex;
  align-items: center;
  margin-right: -3rem;
}

.input {
  background-color: transparent;
  border-radius: 1rem;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  border: 2px solid var(--theme);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 95%;
  height: 8rem;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
  resize: none;
}

/* width */
.input::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.input::-webkit-scrollbar-track {
  background: var(--white);
  margin-top: 0;
  margin: 15px;
}

/* Handle */
.input::-webkit-scrollbar-thumb {
  background: var(--theme);
  border: 3px solid var(--theme);
  border-radius: 20px;
}

.smallInput {
  background-color: transparent;
  border-radius: 5rem;
  color: #fff;
  font-family: "Poppins", "sans-serif";
  border: 2px solid var(--theme);
  padding: 0.5rem !important;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  width: 110px;
}

.penalties {
  display: flex;
  align-items: center;
}

.input:focus,
.smallInput:focus {
  outline: none;
}

.btn {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px solid var(--theme);
  border-radius: 4rem;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--theme);
}

.btn:hover {
  background-color: var(--theme);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .container h1 {
    font-weight: bold;
    font-size: 1rem;
  }

  .container p {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .img {
    width: 100px;
    display: none;
  }

  .btn {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .input {
    width: 90%;
  }
}
