.container {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--white);
  border: 2px solid var(--theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBox {
  flex: 1;
}

.container h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--theme);
}

.container p {
  margin-right: 1rem;
  color: #fff;
}

.boxContainer {
  display: flex;
  align-items: top;
  width: 100%;
  justify-content: space-between;
}

.box {
  flex: 1;
  display: block;
  width: 50%;
  margin-right: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.matrix {
  height: 65%;
  border: solid 2px var(--theme);
  border-radius: 5px;
  padding: 1rem;
}

.alignments {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  border: solid 2px var(--theme);
  color: #fff;
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .container h1 {
    font-weight: bold;
    font-size: 1rem;
  }

  .container p {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .img {
    width: 100px;
    display: none;
  }
}
