.container {
  margin-top: 4rem;
  background-color: #1a2e39;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  margin-left: 0rem;
}

.info p:hover {
  cursor: pointer;
  text-decoration: underline 1px #fff;
}
