.container {
  bottom: 0;
  background-color: var(--theme);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  padding-right: 2rem;
}

.info {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin-right: 0rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 10px;
  font-weight: 600;
}

.link:hover {
  background-color: var(--white);
  color: var(--theme);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .info {
    flex-direction: column;
  }

  .container h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .container p {
    font-size: 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
